@import 'libs/bootstrap-reboot.min';
@import 'libs/stylesheet';
@import 'libs/slick';

*{
    font-family: Poppins,sans-serif;
}

.container{
    width: 1250px;
    margin: 0 auto;
    position: relative;
}


@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/slider';
@import 'blocks/pop'