@import 'libs/bootstrap-reboot.min';
@import 'libs/stylesheet';

*{
    font-family: Poppins,sans-serif;
    
}

.container{
    width: 1250px;
    margin: 0 auto;
}


@import 'blocks/header';
@import 'blocks/main';